@model Order

@{
	ViewBag.Title = "Оформление заказа";
	decimal totalValue = 0;
}

<h1 style="margin-top:70px">@ViewBag.Title</h1>
<div>
	<h2>Способ оплаты</h2>
	<div>
		Здесь в будущем сделаю способы оплаты.
	</div>

	<div style="margin-top:10px">
		<h2>Товары в заказе</h2>
		@if (Model.Products != null)
		{
			foreach (var product in Model.Products)
			{
				<div>
					<span>
						<a asp-area="" asp-controller="Home" asp-action="Show" asp-route-id="@product.CarId">@product.Name </a>
						<a>в количестве: @product.Quantity штук</a>
					</span>
				</div>
				totalValue += product.Price * product.Quantity;
			}
			<div>
				<a style="font-size:medium;font-weight:700">Общая стоимость: @totalValue.ToString("c")</a>
			</div>
		}
	</div>

	<h2 style="margin-top:10px">Доставка</h2>
	<div>
		<form class="container" asp-area="" asp-controller="Cart" asp-action="Checkout" method="post">
			<input type="hidden" asp-for="OrderId">
			<input type = "hidden" asp-for="CustomerName"></input>
			<div asp-validation-summary="All"></div>
			<div>
				<label asp-for="CustomerName"></label>
				<div><input asp-for="CustomerName"></div>
				<span asp-validation-for="CustomerName"></span>
			</div>
			<div style="margin-top:5px">
				<label asp-for="ShippingDetails.Country"></label>
				<div><input asp-for="ShippingDetails.Country"></div>
				<span asp-validation-for="ShippingDetails.Country"></span>
			</div>
			<div style="margin-top:5px">
				<label asp-for="ShippingDetails.Locality"></label>
				<div><input asp-for="ShippingDetails.Locality"></div>
				<span asp-validation-for="ShippingDetails.Locality"></span>
			</div>
			<div style="margin-top:5px">
				<label asp-for="ShippingDetails.Street"></label>
				<div><input asp-for="ShippingDetails.Street"></div>
				<span asp-validation-for="ShippingDetails.Street"></span>
			</div>
			<div style="margin-top:5px">
				<label asp-for="ShippingDetails.Home"></label>
				<div><input asp-for="ShippingDetails.Home"></div>
				<span asp-validation-for="ShippingDetails.Home"></span>
			</div>
			<input style="margin-top:5px" type="submit" value="Оплатить">
		</form>
	</div>
	
</div>